name: github-release

on:
  workflow_dispatch:

jobs:
  release:
    uses: wittdennis/pipelines/.github/workflows/cog-release.yaml@1.13.4
    secrets:
      release-token: ${{ secrets.RELEASE_TOKEN }}
